<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}">
    <title>CodeClan library books</title>
</head>
<body>
    <header>
        {% block header_content %}
            
        {% endblock %}
        <nav class="header">
            <a href="/">HOME</a>
            <a href="/books/new">Donate a book</a>
        </nav>
    </header>
    <main>
        {% block page_content %}
            
        {% endblock %}
    </main>
    <footer>
        <nav class="footer">
            <a href="/">HOME</a>
            <a href="/books/new">Donate a book</a>
        </nav>
        <h6>This page was made commissioned by CodeClan and made by Fedau</h6>
    </footer>
</body>
</html>