{% extends 'base.html' %}

{% block header_content %}
    <h1>Welcome to our library</h1>
{% endblock %}

{% block page_content %}
    <h3>This page contains all the books we own</h3>
    <div class="books-page-container">
        {% for book in books%}
        <div class="book-card">
            <h4>Title</h4>
            <p>{{ book.title }}</p>
            <h4>Author</h4>
            <p>{{ book.auhtor }}</p>
            <h5>Genre</h5>
            <p>{{ book.genre }}</p>
            <h4>Book available</h4>
            <p> {% if book.checked_out %}
                    No
                {% else %}
                    Yes
                {% endif%}
            </p>
            <a href="/books/{{ loop.index0 }}">view this book</a>
            {% endfor%}
        </div>
    </div>

{% endblock %}


