<html>
    <head>
        <title>
            {{ title }} - Our orders
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>The orders</h1>
    <ul>
        {% for order in order_list %}
           <li> <b>{{order.customer_name }} </b>: {{order.order_date }} : {{ order.quantity }} :
             <b> {{order.contents }} </b> 
            <a href="/order/{{ order.order_id }}"> open order</a></li> 
        {% endfor %}
    </ul>        
    </body>

</html>

    