{% extends 'base.html' %}


{% block content %}
    <h2>Our Events</h2>
    <div class="event-container"> 
    <!-- <ul> -->
       {% for event in event_list %}
        
       <!-- <li> -->
        <div class="event">
                <h4>Name</h4>
                <p>{{ event.event_name }}</p>
                <a href="/events/{{ loop.index0 }}">view event</a>
                <h4>Date</h4>
                <p>{{ event.event_date }}</p>
                <h4> Guests</h4>
                <p> {{ event.guests }}</p>
                <h4> Location</h4>
                <p> {{ event.room_location }}</p>
                <h4> Description</h4>
                <p> {{ event.description }}</p>
            </div>
            <!-- </li> -->
        
       {% endfor %}
    <!-- </ul> -->
</div>  
{% endblock %}
